button {
  color: black;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;

}

button:hover {
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.big-box {
  position: relative;
  background: black;
  height: 100vh;
  color: white;
  font-family: helvetica;
  font-size: 48px;
  width: 100%;
}

.box {
  position: relative;
  background: white;
  color: black;
  font-family: helvetica;
  font-size: 48px;
  width: 50%;
  position: absolute;
  left: 33%;
}

h1 {
  margin: 0;
}


